<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="LocalGodotConv" value="C:\Users\user\MyLocalNugetSource-conv" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="LocalGodotConv">
      <package pattern="Godot.NET.Sdk" />
      <package pattern="Godot.SourceGenerators" />
      <package pattern="GodotSharp" />
      <package pattern="GodotSharpEditor" />
      <package pattern="ExternalNuGetModule" />
      <package pattern="TransitiveNuGetFromNuGet" />
      <package pattern="TransitiveNuGetFromProject" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
